<a href="https://colab.research.google.com/github/Itsmepajo/BSIS_Pajo/blob/main/Copy_of_Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/Itsmepajo/BSIS_Pajo/refs/heads/main/student_dataset.csv"

In [ ]:
df = pd.read_csv(url)

In [ ]:
print("First 10 rows:")
print(df.head(50), "\n")

First 10 rows:
    StudentID                Name   Age Grade                  Email
0           1         Sam Vincent  18.0     A        sam1@school.edu
1           2        Fiona Garcia  19.0     B      fiona2@school.edu
2           3          Tina White   NaN     A       tina3@school.edu
3           4            Jane Doe  18.0     A       jane4@school.edu
4           5       Oscar Roberts   NaN     A      oscar5@school.edu
5           6       Ulysses Young   NaN     D    ulysses6@school.edu
6           7        Quinn Turner  20.0     A      quinn7@school.edu
7           8         Diana Evans  21.0     C      diana8@school.edu
8           9        Ethan Harris  20.0     A                    NaN
9          10           Bob Brown  20.0     C       bob10@school.edu
10         11            Jane Doe  21.0   NaN      jane11@school.edu
11         12        Kevin Nelson  18.0   NaN     kevin12@school.edu
12         13         Sam Vincent   NaN     C       sam13@school.edu
13         14       Ulysses Young  18.0     A   ulysses14@school.edu
14         15       William Adams  20.0     A   william15@school.edu
15         16           Bob Brown  21.0     C       bob16@school.edu
16         17      Julia Martinez  19.0     C     julia17@school.edu
17         18          Tina White  20.0     A      tina18@school.edu
18         19         Diana Evans   NaN     B     diana19@school.edu
19         20        Kevin Nelson  20.0   NaN     kevin20@school.edu
20         21           Ian Lewis  18.0     B       ian21@school.edu
21         22           Ian Lewis  21.0     C                    NaN
22         23        Quinn Turner  20.0     B     quinn23@school.edu
23         24        Kevin Nelson  21.0     B     kevin24@school.edu
24         25        Fiona Garcia   NaN   NaN     fiona25@school.edu
25         26        Quinn Turner  21.0   NaN     quinn26@school.edu
26         27        Fiona Garcia  19.0   NaN     fiona27@school.edu
27         28       William Adams  18.0     A   william28@school.edu
28         29         Diana Evans  21.0   NaN                    NaN
29         30        Kevin Nelson   NaN     D     kevin30@school.edu
30         31         Paula Scott  18.0     A     paula31@school.edu
31         32         Paula Scott  20.0     C     paula32@school.edu
32         33         Laura Owens  19.0     D                    NaN
33         34  Victoria Zimmerman  20.0   NaN  victoria34@school.edu
34         35       Oscar Roberts  18.0     C     oscar35@school.edu
35         36       Oscar Roberts   NaN     B     oscar36@school.edu
36         37       William Adams  19.0   NaN   william37@school.edu
37         38       Oscar Roberts  18.0   NaN     oscar38@school.edu
38         39          John Smith  18.0     C      john39@school.edu
39         40         Hannah King  19.0     A    hannah40@school.edu
40         41        Quinn Turner  18.0     A     quinn41@school.edu
41         42       Alice Johnson   NaN     B     alice42@school.edu
42         43          Nina Quinn   NaN     B      nina43@school.edu
43         44    Rachel Underwood  21.0     B    rachel44@school.edu
44         45       William Adams  19.0     C   william45@school.edu
45         46          Tina White  20.0     D      tina46@school.edu
46         47       Michael Perez  18.0     B   michael47@school.edu
47         48           Ian Lewis  18.0   NaN       ian48@school.edu
48         49        Quinn Turner  19.0     A                    NaN
49         50         Sam Vincent  18.0     B                    NaN

In [ ]:
print("DataFrame info:")
print(df.info(), "\n")

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  55 non-null     int64
 1   Name       55 non-null     object
 2   Age        45 non-null     float64
 3   Grade      44 non-null     object
 4   Email      49 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.3+ KB
None

In [ ]:
print("Summary statistics (including nulls):")
print(df.describe(include='all'), "\n")

Summary statistics (including nulls):
        StudentID        Name        Age Grade                Email
count   55.000000          55  45.000000    44                   49
unique        NaN          23        NaN     4                   44
top           NaN  Tina White        NaN     A  hannah40@school.edu
freq          NaN           5        NaN    18                    2
mean    25.890909         NaN  19.266667   NaN                  NaN
std     14.435903         NaN   1.136182   NaN                  NaN
min      1.000000         NaN  18.000000   NaN                  NaN
25%     14.000000         NaN  18.000000   NaN                  NaN
50%     26.000000         NaN  19.000000   NaN                  NaN
75%     38.500000         NaN  20.000000   NaN                  NaN
max     50.000000         NaN  21.000000   NaN                  NaN

In [ ]:
print("Missing values per column:")
print(df.isnull().sum(), "\n")

Missing values per column:
StudentID     0
Name          0
Age          10
Grade        11
Email         6
dtype: int64

In [ ]:
duplicate_rows = df[df.duplicated(keep=False)]
print(f"Found {len(duplicate_rows)} duplicated rows (all occurrences):")
print(duplicate_rows, "\n")

Found 10 duplicated rows (all occurrences):
    StudentID           Name   Age Grade                 Email
13         14  Ulysses Young  18.0     A  ulysses14@school.edu
17         18     Tina White  20.0     A     tina18@school.edu
30         31    Paula Scott  18.0     A    paula31@school.edu
39         40    Hannah King  19.0     A   hannah40@school.edu
45         46     Tina White  20.0     D     tina46@school.edu
50         14  Ulysses Young  18.0     A  ulysses14@school.edu
51         40    Hannah King  19.0     A   hannah40@school.edu
52         31    Paula Scott  18.0     A    paula31@school.edu
53         46     Tina White  20.0     D     tina46@school.edu
54         18     Tina White  20.0     A     tina18@school.edu

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
print("After cleaning:")
print(df.head(50))
print(f"\nTotal rows after removing duplicates: {len(df)}")

After cleaning:
    StudentID                Name   Age Grade                  Email
0           1         Sam Vincent  18.0     A        sam1@school.edu
1           2        Fiona Garcia  19.0     B      fiona2@school.edu
2           3          Tina White   NaN     A       tina3@school.edu
3           4            Jane Doe  18.0     A       jane4@school.edu
4           5       Oscar Roberts   NaN     A      oscar5@school.edu
5           6       Ulysses Young   NaN     D    ulysses6@school.edu
6           7        Quinn Turner  20.0     A      quinn7@school.edu
7           8         Diana Evans  21.0     C      diana8@school.edu
8           9        Ethan Harris  20.0     A                    NaN
9          10           Bob Brown  20.0     C       bob10@school.edu
10         11            Jane Doe  21.0   NaN      jane11@school.edu
11         12        Kevin Nelson  18.0   NaN     kevin12@school.edu
12         13         Sam Vincent   NaN     C       sam13@school.edu
13         14       Ulysses Young  18.0     A   ulysses14@school.edu
14         15       William Adams  20.0     A   william15@school.edu
15         16           Bob Brown  21.0     C       bob16@school.edu
16         17      Julia Martinez  19.0     C     julia17@school.edu
17         18          Tina White  20.0     A      tina18@school.edu
18         19         Diana Evans   NaN     B     diana19@school.edu
19         20        Kevin Nelson  20.0   NaN     kevin20@school.edu
20         21           Ian Lewis  18.0     B       ian21@school.edu
21         22           Ian Lewis  21.0     C                    NaN
22         23        Quinn Turner  20.0     B     quinn23@school.edu
23         24        Kevin Nelson  21.0     B     kevin24@school.edu
24         25        Fiona Garcia   NaN   NaN     fiona25@school.edu
25         26        Quinn Turner  21.0   NaN     quinn26@school.edu
26         27        Fiona Garcia  19.0   NaN     fiona27@school.edu
27         28       William Adams  18.0     A   william28@school.edu
28         29         Diana Evans  21.0   NaN                    NaN
29         30        Kevin Nelson   NaN     D     kevin30@school.edu
30         31         Paula Scott  18.0     A     paula31@school.edu
31         32         Paula Scott  20.0     C     paula32@school.edu
32         33         Laura Owens  19.0     D                    NaN
33         34  Victoria Zimmerman  20.0   NaN  victoria34@school.edu
34         35       Oscar Roberts  18.0     C     oscar35@school.edu
35         36       Oscar Roberts   NaN     B     oscar36@school.edu
36         37       William Adams  19.0   NaN   william37@school.edu
37         38       Oscar Roberts  18.0   NaN     oscar38@school.edu
38         39          John Smith  18.0     C      john39@school.edu
39         40         Hannah King  19.0     A    hannah40@school.edu
40         41        Quinn Turner  18.0     A     quinn41@school.edu
41         42       Alice Johnson   NaN     B     alice42@school.edu
42         43          Nina Quinn   NaN     B      nina43@school.edu
43         44    Rachel Underwood  21.0     B    rachel44@school.edu
44         45       William Adams  19.0     C   william45@school.edu
45         46          Tina White  20.0     D      tina46@school.edu
46         47       Michael Perez  18.0     B   michael47@school.edu
47         48           Ian Lewis  18.0   NaN       ian48@school.edu
48         49        Quinn Turner  19.0     A                    NaN
49         50         Sam Vincent  18.0     B                    NaN

Total rows after removing duplicates: 50

In [ ]:
df['Email'] = df['Email'].fillna("unknown@example.com")

In [ ]:
print("\nFirst 10 rows after filling missing values:")
print(df.head(50))

First 10 rows after filling missing values:
    StudentID                Name   Age Grade                  Email
0           1         Sam Vincent  18.0     A        sam1@school.edu
1           2        Fiona Garcia  19.0     B      fiona2@school.edu
2           3          Tina White   NaN     A       tina3@school.edu
3           4            Jane Doe  18.0     A       jane4@school.edu
4           5       Oscar Roberts   NaN     A      oscar5@school.edu
5           6       Ulysses Young   NaN     D    ulysses6@school.edu
6           7        Quinn Turner  20.0     A      quinn7@school.edu
7           8         Diana Evans  21.0     C      diana8@school.edu
8           9        Ethan Harris  20.0     A    unknown@example.com
9          10           Bob Brown  20.0     C       bob10@school.edu
10         11            Jane Doe  21.0   NaN      jane11@school.edu
11         12        Kevin Nelson  18.0   NaN     kevin12@school.edu
12         13         Sam Vincent   NaN     C       sam13@school.edu
13         14       Ulysses Young  18.0     A   ulysses14@school.edu
14         15       William Adams  20.0     A   william15@school.edu
15         16           Bob Brown  21.0     C       bob16@school.edu
16         17      Julia Martinez  19.0     C     julia17@school.edu
17         18          Tina White  20.0     A      tina18@school.edu
18         19         Diana Evans   NaN     B     diana19@school.edu
19         20        Kevin Nelson  20.0   NaN     kevin20@school.edu
20         21           Ian Lewis  18.0     B       ian21@school.edu
21         22           Ian Lewis  21.0     C    unknown@example.com
22         23        Quinn Turner  20.0     B     quinn23@school.edu
23         24        Kevin Nelson  21.0     B     kevin24@school.edu
24         25        Fiona Garcia   NaN   NaN     fiona25@school.edu
25         26        Quinn Turner  21.0   NaN     quinn26@school.edu
26         27        Fiona Garcia  19.0   NaN     fiona27@school.edu
27         28       William Adams  18.0     A   william28@school.edu
28         29         Diana Evans  21.0   NaN    unknown@example.com
29         30        Kevin Nelson   NaN     D     kevin30@school.edu
30         31         Paula Scott  18.0     A     paula31@school.edu
31         32         Paula Scott  20.0     C     paula32@school.edu
32         33         Laura Owens  19.0     D    unknown@example.com
33         34  Victoria Zimmerman  20.0   NaN  victoria34@school.edu
34         35       Oscar Roberts  18.0     C     oscar35@school.edu
35         36       Oscar Roberts   NaN     B     oscar36@school.edu
36         37       William Adams  19.0   NaN   william37@school.edu
37         38       Oscar Roberts  18.0   NaN     oscar38@school.edu
38         39          John Smith  18.0     C      john39@school.edu
39         40         Hannah King  19.0     A    hannah40@school.edu
40         41        Quinn Turner  18.0     A     quinn41@school.edu
41         42       Alice Johnson   NaN     B     alice42@school.edu
42         43          Nina Quinn   NaN     B      nina43@school.edu
43         44    Rachel Underwood  21.0     B    rachel44@school.edu
44         45       William Adams  19.0     C   william45@school.edu
45         46          Tina White  20.0     D      tina46@school.edu
46         47       Michael Perez  18.0     B   michael47@school.edu
47         48           Ian Lewis  18.0   NaN       ian48@school.edu
48         49        Quinn Turner  19.0     A    unknown@example.com
49         50         Sam Vincent  18.0     B    unknown@example.com